<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
      <label>Name: </label>
      <input :disabled="formType === 'upload'" type="text" name="name" ref="name" v-model="newMember.name"> <br>
      <label>Address: </label>
      <input :disabled="formType === 'upload'" type="text" name="address" ref="address" v-model="newMember.address"> <br>
      <label>No HP: </label>
      <input :disabled="formType === 'upload'" type="text" name="no_hp" ref="no_hp" v-model="newMember.no_hp"> <br><br>
      <input v-if="formType === 'upload'" type="file" name="photo" ref="photo">
      <input @click.prevent="addMember()" v-if="formType === 'add'" type="submit" value="SUBMIT">
      <input @click.prevent="editMember()" v-if="formType === 'update'" type="submit" value="UPDATE"> <br>
      <input @click.prevent="uploadPhoto()" v-if="formType === 'upload'" type="submit" value="UPLOAD"> <br>
      <input @click.prevent="removeForm()" v-if="formType === 'update' || formType === 'upload'" type="submit" value="CANCEL">
    </form>
    <br><br>
    <list-blog 
      v-for="member in members" 
      :key="member.id" 
      :member="member" 
      :url="url"
      @click-button="click"
      @delete-member="deleteMember"
    />
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var ListBlog = {
      props: ['member', 'url'],
      template: `
      <table border="1">
        <tr>
          <td>
            <img width=100 :src="member.photo_profile ? url + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="test">
          </td>
          <td style="width: 300px;">
            <h4>Name: {{member.name}}</h4>
            <p>Address: {{member.address}}</p>
            <p>No_hp: {{member.no_hp}}</p>
          </td>
          <td>
            <button @click.prevent="$emit('click-button', member, 'update')">Edit</button> ||
            <button @click.prevent="$emit('delete-member', member.id)">Delete</button> ||
            <button @click.prevent="$emit('click-button', member, 'upload')">Upload Photo</button>
          </td>
        </tr>
      </table>
      `
    }

    var vm = new Vue({
      el: '#app',
      components: {
        'list-blog': ListBlog
      },
      data: {
        url: 'http://demo-api-vue.sanbercloud.com/',
        formType: 'add',
        members: [],
        errors: [],
        id: null,
        newMember: {
          name: '',
          address: '',
          no_hp: ''
        },
      },
      methods : {
        removeForm() {
          this.newMember = {}
          this.id = null,
          this.formType = 'add'
        },
        click(member, type) {
          this.formType = type
          this.id = member.id
          this.newMember = {
              name: member.name,
              address: member.address,
              no_hp: member.no_hp
          }
        },
        async fetchMember() {
          try {
            const {data} = await axios.get(`${this.url}api/member`)
            this.members = data.members
          } catch(err) {
            console.log(err)
          }
        },  
        async addMember() {
          try {
            const results = await axios.post(`${this.url}api/member`, this.newMember)
            console.log(results)
            this.removeForm()
            this.fetchMember()
            alert('Success insert new member')
          } catch(err) {
            console.log(err)
          }
        },
        async editMember() {
          try {
            const update = await axios.post(`${this.url}api/member/${this.id}?_method=PUT`, this.newMember)
            console.log(update)
            this.removeForm()
            this.fetchMember()
            alert('Success edit member')
          } catch(err) {
            console.log(err)
          }
        },
        async deleteMember(id) {
          try {
            const drop = await axios.post(`${this.url}api/member/${id}?_method=DELETE`)
            console.log(drop)
            this.fetchMember()
            alert(`Success delete member with id ${id}`)
          } catch(err) {
            console.log(err)
          }
        },
        async uploadPhoto() {
          try {
            const photo_profile = this.$refs.photo.files[0]
            const formData = new FormData()
            formData.set('photo_profile', photo_profile)

            const upload = await axios.post(`${this.url}api/member/${this.id}/upload-photo-profile`, formData)
            this.removeForm()
            this.fetchMember()
            alert('Success upload photo')
          } catch(err) {
            console.log(err)
          }
        }
      },
      created() {
        this.fetchMember()
      }
  })
  </script>
</body>
</html>