body {
  margin: 0;
  padding: 0;
  background-color: #F8F8FF;
  font-size: 18px ;
}
table{
  background-color: #F5FFFA;
  color: black;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  }
.center {
  margin: 0 auto;
  margin-top: 150px;
}
.title {
  margin-top: 0;
  text-align: center;
}
img {
  padding-right: 40px;
  padding-left: 10px;
}