<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input 
      type="text"
      v-model="newName"
    >
    <button v-if="isUpdate" v-on:click="update()">update</button>
    <button v-else v-on:click="add()">add</button>
    
    <div class="user" v-for="(user, idx) in users">
      <ul>
        <li>
          {{user.name}}
          <button v-on:click="clickUpdate(idx)">edit</button> ||
          <button v-on:click="drop(idx)">delete</button>
        </li>
      </ul>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        newName: '',
        isUpdate: false,
        currentIdx: null,
        users: [
          {name: "Muhammad Iqbal Mubarok"},
          {name: "Ruby Purwanti"},
          {name: "Faqih Muhammad"}
        ]
      },
      methods : {
        add() {
          this.users.push({
            name: this.newName
          })
          this.newName = ''
        },
        update() {
          this.users[this.currentIdx].name = this.newName
          this.isUpdate = false
          this.newName = ''
        },
        clickUpdate(idx) {
          this.isUpdate = true,
          this.newName = this.users[idx].name
          this.currentIdx = idx
        },
        drop(idx) {
          let confirmation = confirm("Anda Yakin?")
          if(confirmation) this.users.splice(idx, 1)
        }
      }
  })
  </script>
</body>
</html>