<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="comments" v-for="(comment, idx) in comments">
      <button v-on:click="plus(idx)">+</button>
      <p>{{comment.comment}} || {{comment.date}} || Score: {{comment.score}}</p>
      <button v-on:click="minus(idx)">-</button>
      <br><br>
    </div>

    <textarea cols="40" rows="5" v-model="newComment" v-on:keyup.enter="insertComment()"></textarea>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        newComment: '',
        comments: [
          {
            comment: 'komentar 1 komentar 1 komentar 1',
            date: "29-07-2020",
            score: 0,
            voted: null
          },
          {
            comment: 'komentar 2 komentar 2 komentar 2',
            date: "28-07-2020",
            score: 5,
            voted: null
          },
          {
            comment: 'komentar 3 komentar 3 komentar 3',
            date: "27-07-2020",
            score: 5,
            voted: null
          },
        ]
      },
      methods : {
        insertComment() {
          this.comments.push({
            comment: this.newComment,
            date: "29-07-2020",
            score: 0,
            voted: null
          })
        },
        plus(idx) {
          if(this.comments[idx].voted === null) {
            this.comments[idx].score+= 1
            this.comments[idx].voted = "plus"
          } else if(this.comments[idx].voted == "plus") {
            this.comments[idx].score-= 1
            this.comments[idx].voted = null
          } else if(this.comments[idx].voted === "min") {
            this.comments[idx].score+= 2
            this.comments[idx].voted = "plus"
          }
        },
        minus(idx) {
          if(this.comments[idx].voted === null) {
            this.comments[idx].score-= 1
            this.comments[idx].voted = "min"
          } else if(this.comments[idx].voted == "plus") {
            this.comments[idx].score-= 2
            this.comments[idx].voted = "min"
          } else if(this.comments[idx].voted === "min") {
            this.comments[idx].score+= 1
            this.comments[idx].voted = null
          }
        }
      }
  })
  </script>
</body>
</html>